<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Untitled</title>
    <script src="/static/js/p5.js" type="text/javascript"></script>

    <!-- Uncomment the lines below to include extra p5 libraries -->
    <script src="/static/js/p5.dom.js" type="text/javascript"></script>
    <script src="/static/js/p5.sound.js" type="text/javascript"></script>

    <script src="/static/js/sketch.js" type="text/javascript"></script>
    <style>
      body, html {
        cursor: url('static/img/burrito.png'), auto;
        margin:0px;
      }
    </style>
  </head>
  <body>
  </body>
</html>
